자료형(Data type)

In [ ]:
print('KimTaeJeong') #문자열에서는 따옴표 중요

KimTaeJeong

In [ ]:
num1=5
num2=7
print(id(num1))
print(id(num2))

140717468117424
140717468117488

In [ ]:
num1=5 #_는 변수명 앞 뒤 중간에 모두 쓸 수 있다. 숫자는 맨 앞에 쓸 수 없다. 대소문자 구분. 예약어는 사용 불가능.
num2=7
hap=num1+num2
print(hap)

12

In [ ]:
print(0b11)
print(0b111)
print(0b1111111)

3
7
127

In [ ]:
name='KimTaeJeong'
num1=5
num2=7.0
print(type(name))
print(type(num1))
print(type(num2))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
num1=5
num2=2.0
num3=15
num4=3
print(num2**num4) # 2.0에 거듭제곱 3번 결과는 8.0
print(num3/num4) # /은 결과값이 실수형float
print(num3//num4) # //은 몫 연산자
print(num3%num2) # 15를 2.0으로 나눈 나머지.
print(num3%2) # 한개라도 실수형이라면 결과값도 실수형

8.0
5.0
5
1.0
1

In [ ]:
#복합 대입연산자
num1=5
num2=2.0
num3=15
num4=3
num1 += 3 # num1에 3을 더해서 넣는다
print(num1)
num3 -= num4 # 15-3
num3 //= num4 # 12//3
num3 **= num2 # 4**2.0
print(num3)

8
16.0

In [ ]:
#자료형 변환
num1=5
num2=2.0
num6="3.0" # str
num7=str(num1) # 숫자 5를 문자형으로 변환
print(num7)
print(type(num7))

5
<class 'str'>

In [ ]:
num2=2.0
num6="3.0"
print(int(num2))
print(int(num6)) # 문자형 3.0은 실수 변환을 먼저 해야한다.

2

ValueError: ignored

In [ ]:
num6="3.0"
num8=float(num6) # 3.0 float
num9=int(num8)
print(num9)

3

In [ ]:
#화씨 온도 변환기
supsi = float(input("섭씨온도 : "))
whasi = (supsi * 1.8) + 32
print("화씨온도 :", whasi)

섭씨온도 : 20
화씨온도 : 68.0

In [ ]:
#화씨 온도 변환기 정답
print('섭씨온도를 입력하세요.')
supsi = input()
whasi = ( float(supsi) * 1.8 ) + 32
print('섭씨온도 :', supsi)
print('화씨온도 :', whasi)

섭씨온도를 입력하세요.
20
섭씨온도 : 20
화씨온도 : 68.0

In [ ]:
colors = ['red', 'blue', 'green']
print(colors[0])
print(colors[1])
print(colors[2])
print(colors[-1])
print(len(colors))

red
blue
green
green
3

In [ ]:
#리스트
color1 = ['red', 'blue', 'green']
color2 = ['orange', 'black', 'white']
print(color1+color2)
print(len(color1))
total_color = color1 + color2
print(total_color[2:5])
print(total_color[::-2])
print(color1 * 2)
print('blue' not in color2)

#리스트 추가 및 삭제
color1.append('white')
print(color1)
color2.extend(['pink','gray'])
print(color2)
color1.insert(0,'yellow')
color2.remove('orange')
print(color1)
print(color2)
clear color1
#print(color1)

['red', 'blue', 'green', 'orange', 'black', 'white']
3
['green', 'orange', 'black']
['white', 'orange', 'blue']
['red', 'blue', 'green', 'red', 'blue', 'green']
True
['red', 'blue', 'green', 'white']
['orange', 'black', 'white', 'pink', 'gray']
['yellow', 'red', 'blue', 'green', 'white']
['black', 'white', 'pink', 'gray']

NameError: ignored

In [ ]:
 #패킹 언패킹
 t=[1,2,3]
 a, b, c = t
 print(t,a,b,c)

[1, 2, 3] 1 2 3

In [ ]:
#이차원 리스트
kor_score=[49,79,20,100,80]
math_score=[43,59,85,30,90]
eng_score=[49,79,48,60,100]
midterm_score = [kor_score, math_score, eng_score]
print(midterm_score[0][2])

20

In [ ]:
나 = 'TJmedia'
TJ = 'TJmedia'
tj = 'tjmedia'
print(나)
print(TJ)
print(tj)

TJmedia
TJmedia
tjmedia

In [ ]:
a = '3'
b = '2.1'
print(int(a)*b)

2.12.12.1

In [ ]:
a = 10
b = 30
c = 10.5
print(str(a*b) + str(c))

30010.5

In [ ]:
for i in range(7,-1,-1):
    print(i)

7
6
5
4
3
2
1
0

In [ ]:
a = [33.2, 19.7, 28, 21, 33, 6, 12, 15.5, 4.5, 29.2, 11.5, 15.5, 18.3, 15, 6, 6, 26.2, 19.5, 33, 13, 32.5, 14, 22.5, 9, 17, 50.7, 38.3, 4, 34, 22, 40, 38.6, 4.5, 47, 11.5, 24, 6, 35.5, 18, 12.2, 18.2, 31.5, 26.7, 34.5, 24.7, 9, 0, 24.9, 12, 9.5, 30.2, 28.5, 25.5, 15.2, 53.5, 28.5, 16.7, 13, 25.7, 30.5, 26.2, 25, 33.5]
a.sort()
print(a[30])
sum1 = 0
for i in a:
    sum1 += i
print(len(a))
print(sum1/len(a))

21
63
22.06984126984127